<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" type="text/css">



{% extends 'base.html'%}

{% block content %}
<h3></h3>



<div class="row">
    <ul class="collapsible" data-collapsible="accordion">
</div>
       <!-- Receipe Content Area -->
        <div class="collapsible-header receipe-content-area">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="collapse show receipe-headline my-5">
                                <form action="{{ url_for('insert_allergen') }}" method="POST">
                                      <div class="form-group">
                                        <h3>Add Category</h3>
                                        <input type="text" name="allergen_name" class="input-field form-control"
                                               id="allergen_name" class="validate" placeholder="Allergen Name">
                                      </div>
                                      <button type="submit" name="action" class="btn btn-primary"><i class="fas fa-folder-plus"></i> Submit</button>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ul>
</div>
{% endblock %}

