<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" type="text/css">
{% extends 'base.html'%}
{% block content %}


<div class="row">
    <ul class="collapsible" data-collapsible="accordion">
</div>
       <!-- Receipe Content Area -->
        <div class="collapsible-header receipe-content-area">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="collapse show receipe-headline my-5">
                            <form action="{{ url_for('insert_prescription') }}" method="POST"  class="col s12">
                                <div class="form-row">

                                        <div class="form-group col-md-6">
                                          <label for="disp_name">Name</label>
                                          <input id="disp_name" name="disp_name"
                                                 type="text" class="form-control" placeholder="Name">
                                        </div>
                                        <div class="form-group col-md-6">
                                          <label for="origin_country">Origin</label>
                                          <input id="origin_country" name="origin_country"
                                                 type="text" class="form-control" placeholder="Country of origin">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="prescription_name">Title</label>
                                            <input id="prescription_name" name="prescription_name"
                                                   type="text" class="form-control"
                                                   placeholder="Please enter the name of the dish...">
                                        </div>
                                        <div class="form-group col-md-6">
                                          <label for="prep_time">Preparation</label>
                                          <input id="prep_time" name="prep_time"
                                                 type="text" class="form-control"
                                                 placeholder="Please enter preparation time...">
                                        </div>
                                        <div class="form-group col-md-6">
                                          <label for="cook_time">Cooking</label>
                                          <input id="cook_time" name="cook_time"
                                                  type="text" class="form-control"
                                                 placeholder="Please enter cooking time...">
                                        </div>


                                        <label for="exampleFormControlTextarea1" class="col-md-12">Allergens</label>


                                        <div class="form-group col-md-3">
                                          <select id="alle_01" name="alle_01" class="form-control">
                                            <option value="" disabled selected>Choose allergen 1</option>
                                            {% for allergen in allergen %}
                                            <option>{{allergen.allergen_name}}</option>
                                            {% endfor %}
                                          </select>
                                        </div>

                                        <div class="form-group col-md-3">
                                          <select id="alle_02" name="alle_02" class="form-control">
                                            <option value="" disabled selected>Choose allergen 2</option>
                                            {% for allergen in allergen2 %}
                                            <option>{{allergen.allergen_name}}</option>
                                            {% endfor %}
                                          </select>
                                        </div>

                                        <div class="form-group col-md-3">
                                          <select id="alle_03" name="alle_03" class="form-control">
                                            <option value="" disabled selected>Choose allergen 3</option>>
                                            {% for allergen in allergen3 %}
                                            <option>{{allergen.allergen_name}}</option>
                                            {% endfor %}
                                          </select>
                                        </div>

                                        <div class="form-group col-md-3">
                                          <select id="alle_04" name="alle_04" class="form-control">
                                            <option value="" disabled selected>Choose allergen 4</option>
                                            {% for allergen in allergen4 %}
                                            <option>{{allergen.allergen_name}}</option>
                                            {% endfor %}
                                          </select>
                                        </div>




                                        <div class="form-group col-md-3">
                                          <label for="inputState">Step</label>
                                          <select id="step_01a" name="step_01a" class="form-control">
                                            <option value="" disabled selected>Choose step</option>
                                            <option>01.</option>
                                            <option>02.</option>
                                            <option>03.</option>
                                            <option>04.</option>
                                          </select>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="step_01b">Description 1</label>
                                            <textarea class="form-control" id="step_01b" name="step_01b" rows="3"
                                                      placeholder="Please enter first step description..."></textarea>
                                        </div>



                                        <div class="form-group col-md-3">
                                          <label for="inputState">Step</label>
                                          <select id="step_02a" name="step_02a" class="form-control">
                                            <option value="" disabled selected>Choose step</option>
                                            <option>01.</option>
                                            <option>02.</option>
                                            <option>03.</option>
                                            <option>04.</option>
                                          </select>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="step_01b">Description 2</label>
                                            <textarea class="form-control" id="step_02b" name="step_02b" rows="3"
                                                      placeholder="Please enter first step description..."></textarea>
                                        </div>


                                        <div class="form-group col-md-3">
                                          <label for="inputState">Step</label>
                                          <select id="step_03a" name="step_03a" class="form-control">
                                            <option value="" disabled selected>Choose step</option>
                                            <option>01.</option>
                                            <option>02.</option>
                                            <option>03.</option>
                                            <option>04.</option>
                                          </select>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="step_01b">Description 3</label>
                                            <textarea class="form-control" id="step_03b" name="step_03b" rows="3"
                                                      placeholder="Please enter first step description..."></textarea>
                                        </div>


                                        <div class="form-group col-md-3">
                                          <label for="inputState">Step</label>
                                          <select id="step_04a" name="step_04a" class="form-control">
                                            <option value="" disabled selected>Choose step</option>
                                            <option>01.</option>
                                            <option>02.</option>
                                            <option>03.</option>
                                            <option>04.</option>
                                          </select>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="step_01b">Description 4</label>
                                            <textarea class="form-control" id="step_04b" name="step_04b" rows="3"
                                                      placeholder="Please enter first step description..."></textarea>
                                        </div>

                                        <!------------------Kolejny-Krok------------------->



                                        <label class="col-md-12">Ingredients</label>
                                        <div class="form-group col-md-1">
                                          <h5 class="form-control">1.</h5>
                                        </div>
                                        <div class="form-group col-md-2">
                                          <input type="text" class="form-control" id="pcs_01" name="pcs_01"
                                                 placeholder="Quantity">
                                        </div>
                                        <div class="form-group col-md-3">
                                          <select id="uom_01" name="uom_01" class="form-control">
                                            <option value="" disabled selected>Choose Unit of measure.</option>
                                            {% for uom in uom1 %}
                                            <option>{{uom.uom_name}}</option>
                                            {% endfor %}
                                          </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                          <select id="ing_01" name="ing_01" class="form-control">
                                            <option value="" disabled selected>Choose the right ingredient...</option>
                                            {% for ingredients in ingredients1 %}
                                            <option>{{ingredients.ingredients_name}}</option>
                                            {% endfor %}
                                          </select>
                                        </div>








                                        <div class="form-group col-md-1">
                                          <h5 class="form-control">2.</h5>
                                        </div>
                                        <div class="form-group col-md-2">
                                          <input type="text" class="form-control" id="pcs_02" name="pcs_02"
                                                 placeholder="Quantity">
                                        </div>
                                        <div class="form-group col-md-3">
                                          <select id="uom_02" name="uom_02" class="form-control">
                                            <option value="" disabled selected>Choose Unit of measure.</option>
                                            {% for uom in uom2 %}
                                            <option>{{uom.uom_name}}</option>
                                            {% endfor %}
                                          </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                          <select id="ing_02" name="ing_02" class="form-control">
                                            <option value="" disabled selected>Choose the right ingredient...</option>
                                            {% for ingredients in ingredients2 %}
                                            <option>{{ingredients.ingredients_name}}</option>
                                            {% endfor %}
                                          </select>
                                        </div>




                                        <div class="form-group col-md-1">
                                          <h5 class="form-control">3.</h5>
                                        </div>
                                        <div class="form-group col-md-2">
                                          <input type="text" class="form-control" id="pcs_03" name="pcs_03"
                                                 placeholder="Quantity">
                                        </div>
                                        <div class="form-group col-md-3">
                                          <select id="uom_03" name="uom_03" class="form-control">
                                            <option value="" disabled selected>Choose Unit of measure.</option>
                                            {% for uom in uom3 %}
                                            <option>{{uom.uom_name}}</option>
                                            {% endfor %}
                                          </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                          <select id="ing_03" name="ing_03" class="form-control">
                                            <option value="" disabled selected>Choose the right ingredient...</option>
                                            {% for ingredients in ingredients3 %}
                                            <option>{{ingredients.ingredients_name}}</option>
                                            {% endfor %}
                                          </select>
                                        </div>



                                        <div class="form-group col-md-1">
                                          <h5 class="form-control">4.</h5>
                                        </div>
                                        <div class="form-group col-md-2">
                                          <input type="text" class="form-control" id="pcs_04" name="pcs_04"
                                                 placeholder="Quantity">
                                        </div>
                                        <div class="form-group col-md-3">
                                          <select id="uom_04" name="uom_04" class="form-control">
                                            <option value="" disabled selected>Choose Unit of measure.</option>
                                            {% for uom in uom4 %}
                                            <option>{{uom.uom_name}}</option>
                                            {% endfor %}
                                          </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                          <select id="ing_04" name="ing_04" class="form-control">
                                            <option value="" disabled selected>Choose the right ingredient...</option>
                                            {% for ingredients in ingredients4 %}
                                            <option>{{ingredients.ingredients_name}}</option>
                                            {% endfor %}
                                          </select>
                                        </div>






                                        <div class="form-group col-md-1">
                                          <h5 class="form-control">5.</h5>
                                        </div>
                                        <div class="form-group col-md-2">
                                          <input type="text" class="form-control" id="pcs_05" name="pcs_05"
                                                 placeholder="Quantity">
                                        </div>
                                        <div class="form-group col-md-3">
                                          <select id="uom_05" name="uom_05" class="form-control">
                                            <option value="" disabled selected>Choose Unit of measure.</option>
                                            {% for uom in uom5 %}
                                            <option>{{uom.uom_name}}</option>
                                            {% endfor %}
                                          </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                          <select id="ing_05" name="ing_05" class="form-control">
                                            <option value="" disabled selected>Choose the right ingredient...</option>
                                            {% for ingredients in ingredients5 %}
                                            <option>{{ingredients.ingredients_name}}</option>
                                            {% endfor %}
                                          </select>
                                        </div>






                                        <div class="form-group col-md-1">
                                          <h5 class="form-control">6.</h5>
                                        </div>
                                        <div class="form-group col-md-2">
                                          <input type="text" class="form-control" id="pcs_06" name="pcs_06"
                                                 placeholder="Quantity">
                                        </div>
                                        <div class="form-group col-md-3">
                                          <select id="uom_06" name="uom_06" class="form-control">
                                            <option value="" disabled selected>Choose Unit of measure.</option>
                                            {% for uom in uom6 %}
                                            <option>{{uom.uom_name}}</option>
                                            {% endfor %}
                                          </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                          <select id="ing_06" name="ing_06" class="form-control">
                                            <option value="" disabled selected>Choose the right ingredient...</option>
                                            {% for ingredients in ingredients6 %}
                                            <option>{{ingredients.ingredients_name}}</option>
                                            {% endfor %}
                                          </select>
                                        </div>



                                        <div class="form-group col-md-1">
                                          <h5 class="form-control">7.</h5>
                                        </div>
                                        <div class="form-group col-md-2">
                                          <input type="text" class="form-control" id="pcs_07" name="pcs_07"
                                                 placeholder="Quantity">
                                        </div>
                                        <div class="form-group col-md-3">
                                          <select id="uom_07" name="uom_07" class="form-control">
                                            <option value="" disabled selected>Choose Unit of measure.</option>
                                            {% for uom in uom7 %}
                                            <option>{{uom.uom_name}}</option>
                                            {% endfor %}
                                          </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                          <select id="ing_07" name="ing_07" class="form-control">
                                            <option value="" disabled selected>Choose the right ingredient...</option>
                                            {% for ingredients in ingredients7 %}
                                            <option>{{ingredients.ingredients_name}}</option>
                                            {% endfor %}
                                          </select>
                                        </div>




                                        <div class="form-group col-md-1">
                                          <h5 class="form-control">8.</h5>
                                        </div>
                                        <div class="form-group col-md-2">
                                          <input type="text" class="form-control" id="pcs_08" name="pcs_08"
                                                 placeholder="Quantity">
                                        </div>
                                        <div class="form-group col-md-3">
                                          <select id="uom_08" name="uom_08" class="form-control">
                                            <option value="" disabled selected>Choose Unit of measure.</option>
                                            {% for uom in uom8 %}
                                            <option>{{uom.uom_name}}</option>
                                            {% endfor %}
                                          </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                          <select id="ing_08" name="ing_08" class="form-control">
                                            <option value="" disabled selected>Choose the right ingredient...</option>
                                            {% for ingredients in ingredients8 %}
                                            <option>{{ingredients.ingredients_name}}</option>
                                            {% endfor %}
                                          </select>
                                        </div>




                                        <div class="form-group col-md-1">
                                          <h5 class="form-control">9.</h5>
                                        </div>
                                        <div class="form-group col-md-2">
                                          <input type="text" class="form-control" id="pcs_09" name="pcs_09"
                                                 placeholder="Quantity">
                                        </div>
                                        <div class="form-group col-md-3">
                                          <select id="uom_09" name="uom_09" class="form-control">
                                            <option value="" disabled selected>Choose Unit of measure.</option>
                                            {% for uom in uom9 %}
                                            <option>{{uom.uom_name}}</option>
                                            {% endfor %}
                                          </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                          <select id="ing_09" name="ing_09" class="form-control">
                                            <option value="" disabled selected>Choose the right ingredient...</option>
                                            {% for ingredients in ingredients9 %}
                                            <option>{{ingredients.ingredients_name}}</option>
                                            {% endfor %}
                                          </select>
                                        </div>





                                        <div class="form-group col-md-1">
                                          <h5 class="form-control">10.</h5>
                                        </div>
                                        <div class="form-group col-md-2">
                                          <input type="text" class="form-control" id="pcs_10" name="pcs_10"
                                                 placeholder="Quantity">
                                        </div>
                                        <div class="form-group col-md-3">
                                          <select id="uom_10" name="uom_10" class="form-control">
                                            <option value="" disabled selected>Choose Unit of measure.</option>
                                            {% for uom in uom10 %}
                                            <option>{{uom.uom_name}}</option>
                                            {% endfor %}
                                          </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                          <select id="ing_10" name="ing_10" class="form-control">
                                            <option value="" disabled selected>Choose the right ingredient...</option>
                                            {% for ingredients in ingredients10 %}
                                            <option>{{ingredients.ingredients_name}}</option>
                                            {% endfor %}
                                          </select>
                                        </div>





                                        <div class="form-group col-md-2">
                                          <input type="text" class="form-control" id="pcs_10" name="pcs_10"
                                                 placeholder="Quantity">
                                        </div>




                                        <label for="prescription_pic01" class="col-md-12">Links</label>
                                        <div class="form-group col-md-12">
                                          <input type="text" class="form-control"
                                                 id="prescription_pic01" name="prescription_pic01"
                                               placeholder="Please add a link to the photo.  (img. format)">
                                        </div>
                                        <div class="form-group col-md-12">
                                        <input type="text" class="form-control"
                                                id="prescription_pic02" name="prescription_pic02"
                                               placeholder="Please add a link to the photo.  (img. format)">
                                        </div>







                                <button type="submit" name="action" class="btn btn-primary">
                                    <i class="fas fa-folder-plus"></i> Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ul>
</div>

{% endblock %}
