{% extends 'base.html'%}
{% block content %}
<div class="row">
    <ul class="collapsible" data-collapsible="accordion">
</div>
        <div class="collapsible-header receipe-content-area">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="collapse show receipe-headline my-5">
                            <form action="{{ url_for('update_uom', uom_id=uom._id) }}" method="POST">
                                <div class="form-group">
                                    <h3>Add Measure</h3>
                                    <input type="text" name="uom_name" class="validate input-field form-control"
                                           id="uom_name" class="validate" placeholder="Unit of Measure Name"
                                           value="{{uom.uom_name}}">
                                </div>
                                <button type="submit" name="action" class="btn btn-primary">
                                    <i class="fas fa-folder-plus"></i> Update</button>
                                <button href="{{ url_for('get_uom') }}" class="btn btn-danger">
                                    <i class="far fa-times-circle"></i> Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ul>
{% endblock %}

