{% extends 'base.html' %}
{% block content %}

<div class="receipe-post-area section-padding-80">
<!-- Receipe Post Search -->
    <div class="receipe-post-search mb-80">
        <div class="container">
            <form>
                <div class="row">
                    <div class="col-12 col-lg-3">
                        <select class="event-type-select">
                            <option value="all">Choose Author.</option>
                            {% for prescription in prescription1 %}
                            <option value="{{prescription.disp_name}}">{{prescription.disp_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12 col-lg-3">
                        <select class="event-type-select2">
                            <option value="all">Choose Main Ingredients.</option>
                            {% for prescription in prescription2 %}
                            <option value="{{prescription.ing_01}}">{{prescription.ing_01}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12 col-lg-3">
                        <select class="event-type-select3">
                            <option value="all">Choose Allergen.</option>
                            {% for allergen in allergen %}
                            <option value="{{allergen.allergen_name}}">{{allergen.allergen_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12 col-lg-3">
                        <select class="event-type-select4">
                            <option value="all">Choose Origin Country.</option>
                            {% for prescription in prescription4 %}
                            <option value="{{prescription.origin_country}}">{{prescription.origin_country}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% for prescription in prescription5 %}
<div class="containero" data-eventtype="{{prescription.disp_name}}" data-eventtype2="{{prescription.ing_01}}"
     data-eventtype3="{{prescription.alle_01}}" data-eventtype4="{{prescription.origin_country}}">
        <!-- Receipe Slider -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="receipe-slider owl-carousel">
                        <img src="{{prescription.prescription_pic01}}" alt="">
                        <img src="{{prescription.prescription_pic02}}" alt="">
                    </div>
                </div>
            </div>
        </div>
<!-- Receipe Content Area -->
        <div class="receipe-content-area">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="receipe-headline my-5">
                            <span>{{prescription.prescription_date}}</span>
                            <h2>{{prescription.prescription_name}}</h2>
                            <div class="receipe-duration">
                                <h6>Author: {{prescription.disp_name}}</h6>
                                <h6>Main Ingredient: {{prescription.ing_01}}</h6>
                                <h6>Prep: {{prescription.prep_time}}</h6>
                                <h6>Cook: {{prescription.cook_time}}</h6>
                                <h6>Allergens: {{prescription.alle_01}} {{prescription.alle_02}}
                                {{prescription.alle_03}}  {{prescription.alle_04}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="receipe-ratings text-right my-5">
                            <div class="ratings">
                                <h6>Author: {{prescription.disp_name}}</h6>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="false"></i>
                            </div>
                            <a href="#" class="btn delicious-btn">Country of origin: {{prescription.origin_country}} </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <!-- Single Preparation Step -->
                        <div class="single-preparation-step d-flex">
                            <h4>{{prescription.step_01a}}</h4>
                            <p>{{prescription.step_01b}} </p>
                        </div>
                        <!-- Single Preparation Step -->
                        <div class="single-preparation-step d-flex">
                            <h4>{{prescription.step_02a}}</h4>
                            <p>{{prescription.step_02b}} </p>
                        </div>
                        <!-- Single Preparation Step -->
                        <div class="single-preparation-step d-flex">
                            <h4>{{prescription.step_03a}}</h4>
                            <p>{{prescription.step_03b}} </p>
                        </div>
                        <!-- Single Preparation Step -->
                        <div class="single-preparation-step d-flex">
                            <h4>{{prescription.step_04a}}</h4>
                            <p>{{prescription.step_04b}} </p>
                        </div>
                    </div>
                    <!-- Ingredients -->
                    <div class="col-12 col-lg-4">
                        <div class="ingredients">
                            <h4>Ingredients</h4>
                            <!-- Custom Checkbox -->
                            <div>
                                <h6>{{prescription.pcs_01}} {{prescription.uom_01}} {{prescription.ing_01}}</h6>
                            </div>
                            <!-- Custom Checkbox -->
                            <div>
                                <h6>{{prescription.pcs_02}} {{prescription.uom_02}} {{prescription.ing_02}}</h6>
                            </div>
                            <!-- Custom Checkbox -->
                            <div>
                                <h6>{{prescription.pcs_03}} {{prescription.uom_03}} {{prescription.ing_03}}</h6>
                            </div>
                            <!-- Custom Checkbox -->
                            <div>
                                <h6>{{prescription.pcs_04}} {{prescription.uom_04}} {{prescription.ing_04}}</h6>
                            </div>
                            <!-- Custom Checkbox -->
                            <div>
                                <h6>{{prescription.pcs_05}} {{prescription.uom_05}} {{prescription.ing_05}}</h6>
                            </div>
                            <!-- Custom Checkbox -->
                            <div>
                                <h6>{{prescription.pcs_06}} {{prescription.uom_06}} {{prescription.ing_06}}</h6>
                            </div>
                            <!-- Custom Checkbox -->
                            <div>
                                <h6>{{prescription.pcs_07}} {{prescription.uom_07}} {{prescription.ing_07}}</h6>
                            </div>
                            <!-- Custom Checkbox -->
                            <div>
                                <h6>{{prescription.pcs_08}} {{prescription.uom_08}} {{prescription.ing_08}}</h6>
                            </div>
                            <!-- Custom Checkbox -->
                            <div>
                                <h6>{{prescription.pcs_09}} {{prescription.uom_09}} {{prescription.ing_09}}</h6>
                            </div>
                            <!-- Custom Checkbox -->
                            <div>
                                <h6>{{prescription.pcs_10}} {{prescription.uom_10}} {{prescription.ing_10}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<!---Zmienne koniec--->
{% endfor %}
{% endblock %}