<link rel="stylesheet"
href="style/style.css" type="text/css">
<script src="../static/js/jquery/jquery-2.2.4.min.js"></script>




<form>
<select class="event-type-select">
<option value="all">All Event Types</option>
    <option value="option_1_6">Option 1.6</option>
    <option value="option_1_7">Option 1.7</option>
    <option value="option_1_8">Option 1.8</option>
    <option value="option_2_0">Option 2.0</option>
</select>
</form>

<div class="containero">
  <div data-eventtype="option_1_6">option_1_6</div>
  <div data-eventtype="option_1_7">option_1_71</div>
  <div data-eventtype="option_1_8">option_1_8</div>

</div>

<script>
$( ".event-type-select" ).change(function() {
  var selectedEventType = this.options[this.selectedIndex].value;
  if (selectedEventType == "all") {
    $('.containero div').removeClass('hidden');
  } else {
    $('.containero div').addClass('hidden');
    $('.containero div[data-eventtype="' + selectedEventType + '"]').removeClass('hidden');
  }
});
</script>




